@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-3">

    <h1 class="display-4">Welcome to RPMovies</h1>
    <div class="row">
        <div class="col-6">            
            <p>Our friendly staff is always ready to lend a helping hand</p>
            <img src="~/Images/helpingHands.png" class="rounded-circle" style="width:100%;" />
        </div>
        <div class="col-6">
            <p>Quality movies at affordable prices!</p>
            <img src="~/Images/film.jpg" class="rounded-top" style="width:100%;" />
        </div>
        </div>
    </div>
